html {
  text-align: center;
  font-family: helvetica;
}

h1 {
  background: url(images/the-flatiron-building.jpg); 
  font-size: 42px;
}

  
.headerlink {
  background-color: gray; 
  font-size: 12px;
}

.headerlink a {
    color: white;  
}
  

.copyright {
  background-color: gray;
  text-align: left;
}

.copyright li {
  display: inline;
  color: white;
  font-size: 8px;
  font-weight: bold;
  list-style-type: none;
}

.copyright a {
  color: white;
}
