html {
  text-align: center;
}

ul.headerlink {
  font-size: 20px;
  list-style-type: none;
  text-color: white;
}

.headerlink li {
  margin: 10px;
}


h1 {
  background: url(images/the-flatiron-building.jpg); 
}

.copyright {
  background-color: gray;
  text-align: left;
}

.copyright li {
  display: inline;
  color: white;
  font-size: 8px;
  font-weight: bold;
  list-style-type: none;
}

.copyright a {
  color: white;
}
