html {
  text-align: center;
}

h1 {
  background: url(images/the-flatiron-building.jpg); 
}

.class {
  background: gray;
  color: white;
  font-size: 8px;
  font-weight: bold;
  list-style-type: none;
  text-align: left;
}

ul li {
    display: inline;
}

li a {
  color: white;
}
